*{
    margin:0%;
    padding: 0%;

}
body{

    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-repeat: no-repeat;



}

form{
    margin:0px 24px;
}
input{
    display: block;
    width: 350px;
    margin: 6px auto;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 10px;
  
    
}

.container{

font-family: sans-serif;
width: 400px;
height: 300px;
border:none;
border-radius: 20px;                                                                                                                                                                            
margin:20px auto;
padding: 5px 30px 0px 30px; 
background-color:white;
color:blue;
margin: 200px ;

}
#lheader{
    text-align: center;
    color: 470FF4;
}
.submit{
    width: 90px;
    padding: 0px 8px;
    height: 50px;
    margin :25px auto;
    border:1px solid hsl(0, 100%, 71%) ;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px hsl(0, 100%, 71%);
}
.submi{
    text-decoration:white;
    
}
        

.submit:hover{
    background:red;
    border:hsl(0, 100%, 71%);
    box-shadow: 0 10px hsl(0, 100%, 71%), 0 0 25px hsl(0, 100%, 71%),0 0 50px hsl(0, 100%, 71%),0 0 200px hsl(0, 100%, 71%);
    font-style: italic bold;
    font-size: medium;
    color: white;
    transition: .1s;
    
}
.submit:active{
    background:rgb(52,234, 131);
    border:rgb(52,234, 131);
    box-shadow: 0 0 5px rgb(52,234, 131), 0 0 25px rgb(52,234, 131),0 0 50px rgb(52,234, 131),0 0 200px rgb(52,234, 131);
    
}
